<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>260133582946-ie6t4cv4cok0f18dd6ku2l9gpm63qdj0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260133582946-ie6t4cv4cok0f18dd6ku2l9gpm63qdj0</string>
	<key>API_KEY</key>
	<string>AIzaSyDcE6OttG9ox3fwJ-ubtnNtJQ4dMJ8jg4M</string>
	<key>GCM_SENDER_ID</key>
	<string>260133582946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codding.SwiftUIFirstProject</string>
	<key>PROJECT_ID</key>
	<string>swiftuifirstproject</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuifirstproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260133582946:ios:d0fd913cc3ece021f8f93b</string>
</dict>
</plist>